page-detail {
  title {
    color: #444;
    text-align: center;
  }

  .spec {
    color: #444;
  }

  .btn-area {
    text-align: center;
  }

  .slider {
    height: 200px;
  }

  .no-img {
    padding: 20px 0px;
    color: #aaa;
    font-size: 22px;
    text-align: center;

    .meta {
      font-size: 12px;
    }
  }
}
